@charset "UTF-8";

/* Typical Device Breakpoints
-----------------------------------
Pequenas Telas: de 600px para baixo
Celular: de 600px até 768px
Teblet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes Telas: de 1200px para cima
*/

@media screen and (max-width: 768px) {
    .servicos-card {
        width: 100%; /* cards ocupam toda a largura disponível */
        max-width: none; /* remove a largura máxima */
    }
}

@media screen and (min-width: 992px) {
    .servicos-card {
        box-shadow: none;
    }
}