:root {
    --title-color1: #333333;
    --color1: #171818;
    --bg-color1: #EFF1E6;
    
    --title-color2: #0d0d0e;
    --color2: #000000;
    --bg-color2: #E0E2D7;

    --bg-color3: #caccbf;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.navbar {
    padding: 0;
    background-color: #ff000000 !important;
}
.container-fluid {
    background-color: #0a101800;
    padding: 5px 10px;
    transition: all .3s;
}
.navbar-brand {
    color: #dfe9e0;
    text-shadow: 0 0 10px #000000b2;
}
.navbar-brand:hover {
    color: white;
}
.navbar-toggler {
    background-color: #e7e7e7;
    border: 2px solid black;
}
.offcanvas {
    background-color: #201b1c;
    color: white;
    border-left: 1px solid black;
}
.nav-item .nav-link {
    color: white !important;
    padding-left: 5px;
    border-radius: 8px;
}
.nav-item .nav-link:hover {
    background-color: #ffffff28;
}

.header-onScroll {
    background-color: #0a1018;
    box-shadow: 0 5px 10px #0000004b;
    transition: all .3s;
}


/* main {
    padding: 4vh 0px 0;
} */

.intro-section {
    height: 100vh;
    background-image: url('../img/lights-1867437_1280.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e2e8e9;
    text-shadow: 0 0 12px #0000001e;
    text-align: center;
    padding: 0 20px;
}


.intro-overlay {
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000086;
    z-index: 1;
}

.intro-content {
    max-width: 600px;
    margin: 0 auto;
    z-index: 5;
}

.intro-section h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.intro-section p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

/* .intro-section button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #00000049;
}

.intro-section button:hover {
    background-color: #e0e0e0;
} */
.cssbuttons-io-button {
    background: #1b180e;
    color: white;
    width: calc(140px + 9%);
    /* font-family: inherit; */
    padding: 0.35em;
    padding-left: 1.2em;
    margin: auto;
    /* font-size: 17px; */
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:  0 0 1.6em 0.1em #00000080;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    text-decoration: none;
}
  
.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0 0 0.6em 0.2em #291700b7;
    right: 0.3em;
    transition: all 0.3s;
}
  
.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}
  
.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transform: rotate(180deg);
    transition: transform 0.3s;
    color: #2b1e04;
}
  
.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
    transform: rotate(90deg);
}
  
.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}


@media screen and (max-width: 768px) {
    .intro-section {
        background-image: url('../img/interior-4226020_1280.jpg');
    }
    .intro-section h1 {
        font-size: 2rem;
    }

    .intro-section p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .intro-section h1 {
        font-size: 1.5rem;
    }

    .intro-section p {
        font-size: 0.9rem;
    }
}

.sobre {
    padding: 20px 15px 5px;
    background-color: var(--bg-color1);
    color: #fff;
    text-align: center;
    /* min-height: 80vh; */
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.conteudo-container,
.design-comparasion{
    max-width: 940px;
    margin: auto;
}
.sobre-titulo,
.sobre-subtitulo {
    color: var(--title-color1) !important;
}

.sobre .sobre-titulo {
    font-size: 2.5rem;
    /* margin-bottom: 10px; */
    color: #fff;
    text-shadow: 2px 2px 4px #00000023;
    padding: 0 3px;
}

.sobre .sobre-subtitulo {
    font-size: 1.8rem;
    /* margin-bottom: 20px; */
    text-shadow: 2px 2px 4px #00000044;
}

.conteudo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* padding: 0 20px; */
    min-height: 500px;
}

.carousel {
    max-width: 600px;
    overflow: hidden;
    border-radius: 15px;
    width: 90%; /* Define a largura fixa */
}

.carousel-inner {
    width: 100%; 
}

.carousel-inner img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: transform 0.5s;
}

.carousel-inner img:hover {
    transform: scale(1.05);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.texto-lateral {
    max-width: 800px;
    text-align: left;
    flex: 1;
}

.titulo-lateral {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--title-color1);
    text-shadow: 2px 2px 4px #0000002d;
}

.descricao-lateral {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: var(--color1) !important;
}

@media (max-width: 992px) {
    .conteudo-container {
        flex-direction: column;
        align-items: center;
        min-height: auto;
    }
}

@media (max-width: 768px) {
    .carousel-inner img {
        height: 300px;
    }

    .sobre h2 {
        font-size: 2rem;
    }

    .sobre h3 {
        font-size: 1.5rem;
    }

    .titulo-lateral {
        font-size: 1.5rem;
    }

    .descricao-lateral {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .carousel-inner img {
        height: 200px;
    }

    .sobre h2 {
        font-size: 1.5rem;
    }

    .sobre h3 {
        font-size: 1.2rem;
    }

    .titulo-lateral {
        font-size: 1.2rem;
    }

    .descricao-lateral {
        font-size: 0.9rem;
    }
}

/* Comparação de slider */
.design-comparasion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    width: 100%;
}

.design-comparasion .wrapper {
    background: #fff;
    height: 400px;
    max-width: 750px;
    width: 90%;
    margin: auto;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.design-comparasion .images {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
}

.design-comparasion .images .img-1,
.design-comparasion .images .img-2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.design-comparasion .images .img-1 {
    z-index: 1;
    background-image: url("../img/436392788_978792713847849_8052829060279200658_n1.jpeg");
    width: 100%;
    background-position: left;
}

.design-comparasion .images .img-2 {
    z-index: 2;
    background-image: url("../img/436392788_978792713847849_8052829060279200658_n.jpeg");
    width: 50%;
    background-position: bottom left;
}

.design-comparasion .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.design-comparasion .slider input {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: ew-resize;
}

.design-comparasion .slider .drag-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    margin-left: -1.5px;
    background-color: #000000bb;
}

.design-comparasion .slider .drag-line span {
    position: absolute;
    top: 50%;
    left: -19px;
    width: 40px;
    height: 40px;
    background-color: #000000c0;
    border: 2px solid #ffffff;
    box-shadow: 0 0 10px black;
    border-radius: 50%;
    transform: translateY(-50%);
    cursor: ew-resize;
}

.design-comparasion .slider .drag-line span::before,
.design-comparasion .slider .drag-line span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    border-left: none;
    border-top: none;
}

.design-comparasion .slider .drag-line span::after {
    transform: translate(-50%, -50%) rotate(-45deg);
    left: 60%;
}

.design-comparasion .slider .drag-line span::before {
    left: 40%;
    transform: translate(-50%, -50%) rotate(135deg);
}

.design-comparasion .text-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* padding: 15px; */
    margin-top: 20px;
    max-width: 800px;

}

.design-comparasion h2 {
    font-size: 2rem;
    color: var(--title-color1);
    text-shadow: 2px 2px 4px #0000003d;
    /* padding: 0 15px; */
    /* margin-top: 10px; */
    text-align: left;
}

.design-comparasion p {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: left;
    /* padding: 0 15px; */
    color: var(--color1);
}

@media (min-width: 993px) {
    .design-comparasion {
        flex-direction: row-reverse;
        align-items: center;
    }
    
    .design-comparasion .text-container {
        margin-right: 20px;
        margin-top: 0;
        width: 800px;
    }

    .design-comparasion h2, .design-comparasion p {
        text-align: left;
    }
}

@media (max-width: 992px) {
    .design-comparasion .wrapper {
        height: 300px;
    }
    /* .design-comparasion h2 {
        font-size: 1.75rem;
    }
    .design-comparasion p {
        font-size: 1rem;
    } */
}

@media (max-width: 768px) {
    .design-comparasion .wrapper {
        height: 250px;
    }
    .design-comparasion h2 {
        font-size: 1.5rem;
    }
    
}

@media (max-width: 480px) {
    .design-comparasion .wrapper {
        height: 200px;
    }
    .design-comparasion h2 {
        font-size: 1.2rem;
    }
    .design-comparasion p {
        font-size: 0.9rem;
    }
}



/* Serviços */
.servicos-titulo {
    background-color: var(--bg-color2);
    color: var(--title-color2);
    /* max-width: 800px; */
    /* background: linear-gradient(to right, #0000001e, white, transparent); */
    margin: auto;
    text-align: center;
    padding: 5px 0;
    /* border-radius: 5px; */
}

.servicos {
    background-color: var(--bg-color2);
    color: var(--color2);
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servicos-card {
    text-align: center;
    border-radius: 17px;
    padding: 14px;
    margin: 10px auto 13px auto;
    width: calc(50% - 20px); /* metade da largura menos o espaço entre eles */
    max-width: 360px; /* largura máxima para garantir que não fiquem muito grandes */
    transition: .3s;
    background-color:var(--bg-color3);
}
.servicos-card:hover {
    transition: .3s;
    box-shadow: 2px 2px 12px #00000036;
}

.servicos-card img {
    height: 50px;
    background-color: #e7e5db;
    /* box-shadow: 1px 1px 6px #00000025; */
    /* border: 1px solid #80808070; */
    padding: 5px;
    border-radius: 5px;
}
.servicos-card h3 {
    font-weight: 400;
}
.servicos-card p {
    text-align: left;
    opacity: 0.8;
    /* font-size: 0.9em; */
}

/* Formulário de contato */
.contact-form-container {
    background-color: var(--bg-color1);
}

.contact-form {
    padding: 15px;
    max-width: 800px;
    width: 100%;
    margin: auto;
    color: var(--color1);
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
    font-family: inherit;
    font-size: 100%;
    color: inherit;
    border: none;
    border-radius: 10px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
    font-size: .825rem;
    margin-bottom: .5rem;
    padding-top: .2rem;
    display: flex;
    align-items: baseline;
}
  
/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
    border: 1px solid #00000033;
    background-color: #ffffffe6;
    padding: .75em 1rem;
    margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
    background-color: white;
    outline-style: solid;
    outline-width: thin;
    outline-color: gray;
    outline-offset: -1px;
}

#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
    color: black;
    width: 33%;
    margin: auto;
    cursor: pointer;
    transition: .3s;
}
#fs-frm [type="submit"]:hover{
    background-color: #deddeb;
    transition: .3s;
}

/* Rodapé */
.rodape {
    background-color: #222529;
    padding: 20px 10px;
    text-align: center;
    border-top: 1px solid #474545;
    /* margin-top: 40px; */
}
  
.rodape h3 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #e4dada;
}
  
.rodape p {
    margin: 10px 0;
    font-size: 1em;
    color: #e7f0f3 !important;
}
  
.rodape a {
    color: #007bff;
    text-decoration: none;
}
  
.rodape a:hover {
    text-decoration: underline;
}
  
.rodape nav {
    margin: 20px 0;
}
  
.rodape nav p {
    margin: 5px 0;
    font-size: 1em;
    color: #d9e7e7;
}
  
.footer-icons {
    display: inline-flex;
    list-style: none;
    padding: 0;
}
  
.footer-icons .icon {
    position: relative;
    background: #191d1f;
    border-radius: 50%;
    padding: 15px;
    margin:10px 10px 0;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.icon img {
    width: 50px;
}
  
.footer-icons .tooltip {
    position: absolute;
    top: -30px;
    font-size: 14px;
    background: #333;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.footer-icons .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #e23131;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.footer-icons .icon:hover .tooltip {
    top: -40px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
  
.footer-icons .instagram:hover,
.footer-icons .instagram:hover .tooltip,
.footer-icons .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
}
  
.footer-icons .github:hover,
.footer-icons .github:hover .tooltip,
.footer-icons .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
}
  
.rodape p {
    margin-top: 10px;
    font-size: 0.9em;
    color: #666;
}